* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

html {
    background-color: $primary-gray;
}


// project details

.details_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    > * {
        border: 2px solid $black;
    }
    &__description {
        margin: 2rem auto;
        grid-column: 1 / 6;
        text-align: left;
        background-color: $primary-yellow;
        color: $black;
        padding: 2rem;
        line-height: 1.75rem;
    }
    &__title {
        text-align: center;
        grid-column: 2 / 5;
        font-size: 1rem;
        padding: 1rem 0.5rem;
        background-color: $primary-red;
    }
}

@media (min-width: 768px) {
    .details_container {
        &__description {
            grid-column: 2 / 5;
        }
        &__title {
            font-size: 1.5rem;
        }
    }
}
